<div>
    <h1>Latest Posts</h1>
    {{#content}}
    <article>
        <hgroup>
            <a href="{{href}}" class="contrast">
                <h3>{{fm.title}}</h3>
            </a>
            {{#fm.description}}
            <p>{{fm.description}}</p>
            {{/fm.description}}
        </hgroup>
        <p>
            <small>
                {{#fm.author}}By {{fm.author}}{{/fm.author}}{{#fm.author}}{{#fm.published}} • {{/fm.published}}{{/fm.author}}{{#fm.published}}{{fm.published}}{{/fm.published}}
            </small>
        </p>
        <p>{{summary}}</p>
        <footer>
            {{#fm.tags}}
            <a href="/tags#{{.}}" class="secondary">
                <small>{{.}}</small>
            </a>
            {{/fm.tags}}
        </footer>
    </article>
    {{/content}}
</div>
