<div>
    {{#content}}
            <article>
                <hgroup>
                    <a href="{{href}}" class="contrast">
                        <h3>{{fm.title}}</h3>
                    </a>
                    <p>{{fm.description}}</p>
                </hgroup>
                <span>{{summary}}</span>
                <footer>
                    {{#fm.tags}}
                        <a href="/tags#{{.}}" class="secondary">
                            <span>{{.}}</span>
                        </a>
                    {{/fm.tags}}
                </footer>
            </article>
    {{/content}}
</div>
