<!doctype html>
<html lang="en">
{{>header}}
<body>
<header class="container">
    {{>nav}}
</header>
<main class="container">
    <div id="site-content">
        {{>content}}
    </div>
</main>
{{>footer}}
</body>
</html>